#hero  {
  background-color: #FFCC00
}
#middle {
  background-color: #E0E0E0
}
#building {
  width: 900px;
  height: 400px;
}
#butter {
width: 150px;
height: 100px;
}
#buttercheese {
width: 150px;
height: 100px;
}
#asiago {
width: 150px;
height: 100px;
}
#onion {
width: 150px;
height: 100px;
}
#ranch {
width: 150px;
height: 100px;
}
#cajun {
width: 150px;
height: 100px;
}
#sesame {
width: 150px;
height: 100px;
}
#garlicherb {
width: 150px;
height: 100px;
}
#car  {
  background-color: #FFD700
}
